@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
.container{
  font-family: 'Varela Round', sans-serif;
  text-align: center
}
.containerContect{
  margin-bottom: 15px;
}

.containerButton{
  flex: display;
  justify-content: space-evenly;
}
